<!doctype html>
<html lang="en">
<head>
  <meta name="description" content="Happy #ColumboDay! Celebrate the detective instead of the mass murderer!">
  <meta name="keywords" content="Columbus,Columbo,holiday,Christopher Columbus,Lt. Columbo, tv">
<style>
table {
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    <title>{{ .Title }} - {{ .Site.BaseURL }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <center><h1><a href="/">Celebrate Columbo Day!</a></h1></center>

    <center>
    <iframe width="350" height="180" src="https://w2.countingdownto.com/1966997" frameborder="0"></iframe>
  </center>
  <p>
</head>
